prometheus-node-exporter:
  hostRootfs: false

grafana:
  adminPassword: "admin"

defaultRules:
  create: true
  rules:
    alertmanager: true
    etcd: false
    configReloaders: true
    general: true
    k8s: true
    kubeApiserver: true
    kubeApiserverAvailability: true
    kubeApiserverSlos: true
    kubelet: true
    kubeProxy: true
    kubePrometheusGeneral: true
    kubePrometheusNodeRecording: true
    kubernetesApps: true
    kubernetesResources: true
    kubernetesStorage: true
    longhorn: true
    network: true
    node: true
    nodeExporter: true
    nodeExporterRecording: true
    prometheus: true
    prometheusOperator: true

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false

prometheusOperator:
  enabled: true

kube-state-metrics:
  enabled: true

alertmanager:
  enabled: true